.WD { font: bold Verdana; color: black; }
.NO { font: bold Verdana; color: rgb(192,192,192); }
.RE { font: bold Verdana; color: rgb(255,0,0); }
.MR { font: bold Verdana; color: rgb(250,146,5); }
.DI { font: bold Verdana; color: rgb(255,255,0); }
.MA { font: bold Verdana; color: rgb(102,255,0); }
.AC { font: bold Verdana; color: rgb(0,136,0); }

.setWD { background: black; }
.setNO { background: rgb(192,192,192); }
.setRE { background: rgb(255,0,0); }
.setMR { background: rgb(250,146,5); }
.setDI { background: rgb(255,255,0); }
.setMA { background: rgb(102,255,0); }
.setAC { background: rgb(0,136,0); }


.Review { color: rgb(0,0,255); font: bold Verdana; }
.Revise { color: rgb(255,0,0); font: bold Verdana; }
.Discuss { color: rgb(0,128,0); font: bold Verdana; }
